@page "/"
@namespace ZonaGamerN.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ZonaGamerN</title>
    <base href="~/" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="ZonaGamerN.styles.css" rel="stylesheet" />
    <!-- Main Styles -->
    <link rel="stylesheet" href="~/styles/style.min.css">

    <!-- Material Design Icon -->
    <link rel="stylesheet" href="~/fonts/material-design/css/materialdesignicons.css">

    <!-- mCustomScrollbar -->
    <link rel="stylesheet" href="~/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css">

    <!-- Waves Effect -->
    <link rel="stylesheet" href="~/plugin/waves/waves.min.css">

    <!-- Sweet Alert -->
    <link rel="stylesheet" href="~/plugin/sweet-alert/sweetalert.css">

    <!-- Percent Circle -->
    <link rel="stylesheet" href="assets/plugin/percircle/css/percircle.css">

    <!-- Chartist Chart -->
    <link rel="stylesheet" href="~/plugin/chart/chartist/chartist.min.css">

    <!-- FullCalendar -->
    <link rel="stylesheet" href="~/plugin/fullcalendar/fullcalendar.min.css">
    <link rel="stylesheet" href="~/plugin/fullcalendar/fullcalendar.print.css" media='print'>

    <!-- Dark Themes -->
    <link rel="stylesheet" href="~/styles/style-dark.min.css">
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>


    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/scripts/jquery.min.js"></script>
    <script src="~/scripts/modernizr.min.js"></script>
    <script src="~/plugin/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/plugin/nprogress/nprogress.js"></script>
    <script src="~/plugin/sweet-alert/sweetalert.min.js"></script>
    <script src="~/plugin/waves/waves.min.js"></script>
    <!-- Full Screen Plugin -->
    <script src="~/plugin/fullscreen/jquery.fullscreen-min.js"></script>

    <!-- Google Chart -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!-- chart.js Chart -->
    <script src="~/plugin/chart/chartjs/Chart.bundle.min.js"></script>
    <script src="~/scripts/chart.chartjs.init.min.js"></script>

    <!-- FullCalendar -->
    <script src="~/plugin/moment/moment.js"></script>
    <script src="~/plugin/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/scripts/fullcalendar.init.js"></script>

    <!-- Sparkline Chart -->
    <script src="~/plugin/chart/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/scripts/chart.sparkline.init.min.js"></script>
</body>
</html>
